<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="ecommerce, market, shop, mart, cart, deal, multipurpose, marketplace">
    <meta name="description" content="Carrot - Multipurpose eCommerce HTML Template.">
    <meta name="author" content="ashishmaraviya">

    <title>Carrot - Multipurpose eCommerce HTML Template</title>

    <!-- App favicon -->
    <link rel="shortcut icon" href="{{BASE_URL}}/assets/img/logo/favicon.png">

    <!-- Icon CSS -->
    <link rel="stylesheet" href="{{BASE_URL}}/assets/css/vendor/materialdesignicons.min.css">
    <link rel="stylesheet" href="{{BASE_URL}}/assets/css/vendor/remixicon.css">

    <!-- Vendor -->
    <link rel="stylesheet" href="{{BASE_URL}}/assets/css/vendor/animate.css">
    <link rel="stylesheet" href="{{BASE_URL}}/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="{{BASE_URL}}/assets/css/vendor/aos.min.css">
    <link rel="stylesheet" href="{{BASE_URL}}/assets/css/vendor/range-slider.css">
    <link rel="stylesheet" href="{{BASE_URL}}/assets/css/vendor/swiper-bundle.min.css">
    <link rel="stylesheet" href="{{BASE_URL}}/assets/css/vendor/jquery.slick.css">
    <link rel="stylesheet" href="{{BASE_URL}}/assets/css/vendor/slick-theme.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{{BASE_URL}}/assets/css/style.css">
</head>

<body class="body-bg-6">

{{> loader}}
{{> header}}
{{> mobile-menu}}

<!-- Breadcrumb -->
<section class="section-breadcrumb">
    <div class="cr-breadcrumb-image">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cr-breadcrumb-title">
                        <h2>Product</h2>
                        <span> <a href="index.html">Home</a> - product</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Product -->
<section class="section-product padding-t-100">
    <div class="container">
        <div class="row mb-minus-24" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="600">
            <div class="col-xxl-4 col-xl-5 col-md-6 col-12 mb-24">
                <div class="vehicle-detail-banner banner-content clearfix">
                    <div class="banner-slider">
                        <div class="slider slider-for">
                            <div class="slider-banner-image">
                                <div class="zoom-image-hover">
                                    <img src="{{BASE_URL}}{{beer.imagePath}}" alt="product-tab-1"
                                         class="product-image">
                                </div>
                            </div>
                            <div class="slider-banner-image">
                                <div class="zoom-image-hover">
                                    <img src="{{BASE_URL}}{{beer.imagePath}}" alt="product-tab-2"
                                         class="product-image">
                                </div>
                            </div>
                            <div class="slider-banner-image">
                                <div class="zoom-image-hover">
                                    <img src="{{BASE_URL}}{{beer.imagePath}}" alt="product-tab-3"
                                         class="product-image">
                                </div>
                            </div>
                            <div class="slider-banner-image">
                                <div class="zoom-image-hover">
                                    <img src="{{BASE_URL}}{{beer.imagePath}}" alt="product-tab-1"
                                         class="product-image">
                                </div>
                            </div>
                            <div class="slider-banner-image">
                                <div class="zoom-image-hover">
                                    <img src="{{BASE_URL}}{{beer.imagePath}}" alt="product-tab-2"
                                         class="product-image">
                                </div>
                            </div>
                            <div class="slider-banner-image">
                                <div class="zoom-image-hover">
                                    <img src="{{BASE_URL}}{{beer.imagePath}}" alt="product-tab-3"
                                         class="product-image">
                                </div>
                            </div>
                            <div class="slider-banner-image">
                                <div class="zoom-image-hover">
                                    <img src="{{BASE_URL}}{{beer.imagePath}}" alt="product-tab-1"
                                         class="product-image">
                                </div>
                            </div>
                            <div class="slider-banner-image">
                                <div class="zoom-image-hover">
                                    <img src="{{BASE_URL}}{{beer.imagePath}}" alt="product-tab-2"
                                         class="product-image">
                                </div>
                            </div>
                        </div>
                        <div class="slider slider-nav thumb-image">
                            <div class="thumbnail-image">
                                <div class="thumbImg">
                                    <img src="{{BASE_URL}}{{beer.imagePath}}" alt="product-tab-1">
                                </div>
                            </div>
                            <div class="thumbnail-image">
                                <div class="thumbImg">
                                    <img src="{{BASE_URL}}{{beer.imagePath}}" alt="product-tab-2">
                                </div>
                            </div>
                            <div class="thumbnail-image">
                                <div class="thumbImg">
                                    <img src="{{BASE_URL}}{{beer.imagePath}}" alt="product-tab-3">
                                </div>
                            </div>
                            <div class="thumbnail-image">
                                <div class="thumbImg">
                                    <img src="{{BASE_URL}}{{beer.imagePath}}" alt="product-tab-1">
                                </div>
                            </div>
                            <div class="thumbnail-image">
                                <div class="thumbImg">
                                    <img src="{{BASE_URL}}{{beer.imagePath}}" alt="product-tab-2">
                                </div>
                            </div>
                            <div class="thumbnail-image">
                                <div class="thumbImg">
                                    <img src="{{BASE_URL}}{{beer.imagePath}}" alt="product-tab-3">
                                </div>
                            </div>
                            <div class="thumbnail-image">
                                <div class="thumbImg">
                                    <img src="{{BASE_URL}}{{beer.imagePath}}" alt="product-tab-1">
                                </div>
                            </div>
                            <div class="thumbnail-image">
                                <div class="thumbImg">
                                    <img src="{{BASE_URL}}{{beer.imagePath}}" alt="product-tab-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-8 col-xl-7 col-md-6 col-12 mb-24">
                <div class="cr-size-and-weight-contain">
                    <h2 class="heading">{{beer.name}}</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus sequi unde libero ea
                        odio aperiam ex alias quod? Tempora, magnam? Reprehenderit incidunt repudiandae officia eius
                        a ullam. Recusandae quia aliquid ratione est quis voluptatibus magni porro a.
                        Necessitatibus, tenetur ducimus.</p>
                </div>
                <div class="cr-size-and-weight">
                    <div class="cr-review-star">
                        <div class="cr-star">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                        </div>
                        <p>( 75 Review )</p>
                    </div>
                    <div class="list">
                        <ul>
                            <li><label>Brewery <span>:</span></label>{{beer.brewery.name}}</li>
                            <li><label>Style <span>:</span></label>{{beer.style}}</li>
                            <li><label>IBU <span>:</span></label>{{beer.ibu}}</li>
                            <li><label>abv <span>:</span></label>{{beer.abv}}%</li>
                            <li><label>ounces <span>:</span></label>{{beer.ounces}} oz</li>
                            <li><label>Info <span>:</span></label>Egg Free, Allergen-Free, ...</li>
                        </ul>
                    </div>
                    <div class="cr-product-price">
                        <span class="new-price">${{beer.price}}</span>
                        <span class="old-price">${{beer.price}}</span>
                    </div>
                    <div class="cr-add-card">
                        <div class="cr-qty-main">
                            <input type="text" placeholder="." value="1" minlength="1" maxlength="{{beer.stock}}"
                                   class="quantity">
                            <button type="button" class="plus">+</button>
                            <button type="button" class="minus">-</button>
                        </div>
                        <div class="cr-add-button">
                            <button type="button" class="cr-button cr-shopping-bag">Add to cart</button>
                        </div>
                        <div class="cr-card-icon">
                            <a href="javascript:void(0)" class="wishlist">
                                <i class="ri-heart-line"></i>
                            </a>
                            <a class="model-oraganic-product" data-bs-toggle="modal" href="#quickview" role="button">
                                <i class="ri-eye-line"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="600">
            <div class="col-12">
                <div class="cr-paking-delivery">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="description-tab" data-bs-toggle="tab"
                                    data-bs-target="#description" type="button" role="tab" aria-controls="description"
                                    aria-selected="true">Description</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="additional-tab" data-bs-toggle="tab"
                                    data-bs-target="#additional" type="button" role="tab" aria-controls="additional"
                                    aria-selected="false">Information</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review"
                                    type="button" role="tab" aria-controls="review"
                                    aria-selected="false">Review</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="description" role="tabpanel"
                             aria-labelledby="description-tab">
                            <div class="cr-tab-content">
                                <div class="cr-description">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error in vero
                                        sapiente odio, error dolore vero temporibus consequatur, nobis veniam odit
                                        dignissimos consectetur quae in perferendis
                                        doloribusdebitis corporis, eaque dicta, repellat amet, illum adipisci vel
                                        perferendis dolor! Quis vel consequuntur repellat distinctio rem. Corrupti
                                        ratione alias odio, error dolore temporibus consequatur, nobis veniam odit
                                        laborum dignissimos consectetur quae vero in perferendis provident quis.</p>
                                </div>
                                <h4 class="heading">Packaging & Delivery</h4>
                                <div class="cr-description">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error in vero
                                        perferendis dolor! Quis vel consequuntur repellat distinctio rem. Corrupti
                                        ratione alias odio, error dolore temporibus consequatur, nobis veniam odit
                                        laborum dignissimos consectetur quae vero in perferendis provident quis.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="additional" role="tabpanel" aria-labelledby="additional-tab">
                            <div class="cr-tab-content">
                                <div class="cr-description">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error in vero
                                        sapiente
                                        doloribus debitis corporis, eaque dicta, repellat amet, illum adipisci vel
                                        perferendis dolor! Quis vel consequuntur repellat distinctio rem. Corrupti
                                        ratione alias odio, error dolore temporibus consequatur, nobis veniam odit
                                        laborum dignissimos consectetur quae vero in perferendis provident quis.</p>
                                </div>
                                <div class="list">
                                    <ul>
                                        <li><label>Brewery <span>:</span></label>{{beer.brewery.name}}</li>
                                        <li><label>Style <span>:</span></label>{{beer.style}}</li>
                                        <li><label>IBU <span>:</span></label>{{beer.ibu}}</li>
                                        <li><label>abv <span>:</span></label>{{beer.abv}}%</li>
                                        <li><label>ounces <span>:</span></label>{{beer.ounces}} oz</li>
                                        <li><label>Info <span>:</span></label>Egg Free, Allergen-Free, ...</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                            <div class="cr-tab-content-from">
                                <div class="post">
                                    <div class="content">
                                        <img src="assets/img/review/1.jpg" alt="review">
                                        <div class="details">
                                            <span class="date">Jan 08, 2024</span>
                                            <span class="name">Oreo Noman</span>
                                        </div>
                                        <div class="cr-t-review-rating">
                                            <i class="ri-star-s-fill"></i>
                                            <i class="ri-star-s-fill"></i>
                                            <i class="ri-star-s-fill"></i>
                                            <i class="ri-star-s-fill"></i>
                                            <i class="ri-star-s-fill"></i>
                                        </div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error in vero
                                        sapiente doloribus debitis corporis, eaque dicta, repellat amet, illum
                                        adipisci vel
                                        perferendis dolor! quae vero in perferendis provident quis.</p>
                                    <div class="content mt-30">
                                        <img src="assets/img/review/2.jpg" alt="review">
                                        <div class="details">
                                            <span class="date">Mar 22, 2024</span>
                                            <span class="name">Lina Wilson</span>
                                        </div>
                                        <div class="cr-t-review-rating">
                                            <i class="ri-star-s-fill"></i>
                                            <i class="ri-star-s-fill"></i>
                                            <i class="ri-star-s-fill"></i>
                                            <i class="ri-star-s-fill"></i>
                                            <i class="ri-star-s-line"></i>
                                        </div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error in vero
                                        sapiente doloribus debitis corporis, eaque dicta, repellat amet, illum
                                        adipisci vel
                                        perferendis dolor! quae vero in perferendis provident quis.</p>
                                </div>

                                <h4 class="heading">Add a Review</h4>
                                <form action="javascript:void(0)">
                                    <div class="cr-ratting-star">
                                        <span>Your rating :</span>
                                        <div class="cr-t-review-rating">
                                            <i class="ri-star-s-fill"></i>
                                            <i class="ri-star-s-fill"></i>
                                            <i class="ri-star-s-line"></i>
                                            <i class="ri-star-s-line"></i>
                                            <i class="ri-star-s-line"></i>
                                        </div>
                                    </div>
                                    <div class="cr-ratting-input">
                                        <input name="your-name" placeholder="Name" type="text">
                                    </div>
                                    <div class="cr-ratting-input">
                                        <input name="your-email" placeholder="Email*" type="email" required="">
                                    </div>
                                    <div class="cr-ratting-input form-submit">
                                        <textarea name="your-commemt" placeholder="Enter Your Comment"></textarea>
                                        <button class="cr-button" type="submit" value="Submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Popular products -->
<section class="section-popular-products padding-tb-100" data-aos="fade-up" data-aos-duration="2000"
         data-aos-delay="400">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-30">
                    <div class="cr-banner">
                        <h2>Popular Products</h2>
                    </div>
                    <div class="cr-banner-sub-title">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et viverra maecenas accumsan lacus vel facilisis. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="cr-popular-product">
                    <div class="slick-slide">
                        <div class="cr-product-card">
                            <div class="cr-product-image">
                                <div class="cr-image-inner zoom-image-hover">
                                    <img src="{{BASE_URL}}/assets/img/product/9.jpg" alt="product-1">
                                </div>
                                <div class="cr-side-view">
                                    <a href="javascript:void(0)" class="wishlist">
                                        <i class="ri-heart-line"></i>
                                    </a>
                                    <a class="model-oraganic-product" data-bs-toggle="modal" href="#quickview"
                                       role="button">
                                        <i class="ri-eye-line"></i>
                                    </a>
                                </div>
                                <a class="cr-shopping-bag" href="javascript:void(0)">
                                    <i class="ri-shopping-bag-line"></i>
                                </a>
                            </div>
                            <div class="cr-product-details">
                                <div class="cr-brand">
                                    <a href="shop-left-sidebar.html">Snacks</a>
                                    <div class="cr-star">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-line"></i>
                                        <p>(4.5)</p>
                                    </div>
                                </div>
                                <a href="product-left-sidebar.html" class="title">Best snakes with hazel nut
                                    mix pack 200gm</a>
                                <p class="cr-price"><span class="new-price">$120.25</span> <span
                                        class="old-price">$123.25</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="slick-slide">
                        <div class="cr-product-card">
                            <div class="cr-product-image">
                                <div class="cr-image-inner zoom-image-hover">
                                    <img src="{{BASE_URL}}/assets/img/product/10.jpg" alt="product-1">
                                </div>
                                <div class="cr-side-view">
                                    <a href="javascript:void(0)" class="wishlist">
                                        <i class="ri-heart-line"></i>
                                    </a>
                                    <a class="model-oraganic-product" data-bs-toggle="modal" href="#quickview"
                                       role="button">
                                        <i class="ri-eye-line"></i>
                                    </a>
                                </div>
                                <a class="cr-shopping-bag" href="javascript:void(0)">
                                    <i class="ri-shopping-bag-line"></i>
                                </a>
                            </div>
                            <div class="cr-product-details">
                                <div class="cr-brand">
                                    <a href="shop-left-sidebar.html">Snacks</a>
                                    <div class="cr-star">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <p>(5.0)</p>
                                    </div>
                                </div>
                                <a href="product-left-sidebar.html" class="title">Sweet snakes crunchy nut
                                    mix 250gm
                                    pack</a>
                                <p class="cr-price"><span class="new-price">$100.00</span> <span
                                        class="old-price">$110.00</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="slick-slide">
                        <div class="cr-product-card">
                            <div class="cr-product-image">
                                <div class="cr-image-inner zoom-image-hover">
                                    <img src="{{BASE_URL}}/assets/img/product/1.jpg" alt="product-1">
                                </div>
                                <div class="cr-side-view">
                                    <a href="javascript:void(0)" class="wishlist">
                                        <i class="ri-heart-line"></i>
                                    </a>
                                    <a class="model-oraganic-product" data-bs-toggle="modal" href="#quickview"
                                       role="button">
                                        <i class="ri-eye-line"></i>
                                    </a>
                                </div>
                                <a class="cr-shopping-bag" href="javascript:void(0)">
                                    <i class="ri-shopping-bag-line"></i>
                                </a>
                            </div>
                            <div class="cr-product-details">
                                <div class="cr-brand">
                                    <a href="shop-left-sidebar.html">Snacks</a>
                                    <div class="cr-star">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-line"></i>
                                        <p>(4.5)</p>
                                    </div>
                                </div>
                                <a href="product-left-sidebar.html" class="title">Best snakes with hazel nut
                                    mix pack 200gm</a>
                                <p class="cr-price"><span class="new-price">$120.25</span> <span
                                        class="old-price">$123.25</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="slick-slide">
                        <div class="cr-product-card">
                            <div class="cr-product-image">
                                <div class="cr-image-inner zoom-image-hover">
                                    <img src="{{BASE_URL}}/assets/img/product/2.jpg" alt="product-1">
                                </div>
                                <div class="cr-side-view">
                                    <a href="javascript:void(0)" class="wishlist">
                                        <i class="ri-heart-line"></i>
                                    </a>
                                    <a class="model-oraganic-product" data-bs-toggle="modal" href="#quickview"
                                       role="button">
                                        <i class="ri-eye-line"></i>
                                    </a>
                                </div>
                                <a class="cr-shopping-bag" href="javascript:void(0)">
                                    <i class="ri-shopping-bag-line"></i>
                                </a>
                            </div>
                            <div class="cr-product-details">
                                <div class="cr-brand">
                                    <a href="shop-left-sidebar.html">Snacks</a>
                                    <div class="cr-star">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <p>(5.0)</p>
                                    </div>
                                </div>
                                <a href="product-left-sidebar.html" class="title">Sweet snakes crunchy nut
                                    mix 250gm
                                    pack</a>
                                <p class="cr-price"><span class="new-price">$100.00</span> <span
                                        class="old-price">$110.00</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="slick-slide">
                        <div class="cr-product-card">
                            <div class="cr-product-image">
                                <div class="cr-image-inner zoom-image-hover">
                                    <img src="{{BASE_URL}}/assets/img/product/3.jpg" alt="product-1">
                                </div>
                                <div class="cr-side-view">
                                    <a href="javascript:void(0)" class="wishlist">
                                        <i class="ri-heart-line"></i>
                                    </a>
                                    <a class="model-oraganic-product" data-bs-toggle="modal" href="#quickview"
                                       role="button">
                                        <i class="ri-eye-line"></i>
                                    </a>
                                </div>
                                <a class="cr-shopping-bag" href="javascript:void(0)">
                                    <i class="ri-shopping-bag-line"></i>
                                </a>
                            </div>
                            <div class="cr-product-details">
                                <div class="cr-brand">
                                    <a href="shop-left-sidebar.html">Snacks</a>
                                    <div class="cr-star">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <p>(5.0)</p>
                                    </div>
                                </div>
                                <a href="product-left-sidebar.html" class="title">Sweet snakes crunchy nut
                                    mix 250gm
                                    pack</a>
                                <p class="cr-price"><span class="new-price">$100.00</span> <span
                                        class="old-price">$110.00</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{> footer}}
{{> tab-to-top}}

<!-- Model -->
<div class="modal fade quickview-modal" id="quickview" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered cr-modal-dialog">
        <div class="modal-content">
            <button type="button" class="cr-close-model btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="zoom-image-hover modal-border-image">
                            <img src="{{BASE_URL}}/assets/img/product/tab-1.jpg" alt="product-tab-2" class="product-image">
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="cr-size-and-weight-contain">
                            <h2 class="heading">Peach Seeds Of Change Oraganic Quinoa, Brown fruit</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                since the 1900s,</p>
                        </div>
                        <div class="cr-size-and-weight">
                            <div class="cr-review-star">
                                <div class="cr-star">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                </div>
                                <p>( 75 Review )</p>
                            </div>
                            <div class="cr-product-price">
                                <span class="new-price">$120.25</span>
                                <span class="old-price">$123.25</span>
                            </div>
                            <div class="cr-size-weight">
                                <h5><span>Size</span>/<span>Weight</span> :</h5>
                                <div class="cr-kg">
                                    <ul>
                                        <li class="active-color">500gm</li>
                                        <li>1kg</li>
                                        <li>2kg</li>
                                        <li>5kg</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="cr-add-card">
                                <div class="cr-qty-main">
                                    <input type="text" placeholder="." value="1" minlength="1" maxlength="20"
                                           class="quantity">
                                    <button type="button" id="add_model" class="plus">+</button>
                                    <button type="button" id="sub_model" class="minus">-</button>
                                </div>
                                <div class="cr-add-button">
                                    <button type="button" class="cr-button cr-shopping-bag">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> cart}}

{{> side-tool}}

<!-- Vendor Custom -->
<script src="{{BASE_URL}}/assets/js/vendor/jquery-3.6.4.min.js"></script>
<script src="{{BASE_URL}}/assets/js/vendor/jquery.zoom.min.js"></script>
<script src="{{BASE_URL}}/assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="{{BASE_URL}}/assets/js/vendor/mixitup.min.js"></script>
<script src="{{BASE_URL}}/assets/js/vendor/range-slider.js"></script>
<script src="{{BASE_URL}}/assets/js/vendor/aos.min.js"></script>
<script src="{{BASE_URL}}/assets/js/vendor/swiper-bundle.min.js"></script>
<script src="{{BASE_URL}}/assets/js/vendor/slick.min.js"></script>

<!-- Main Custom -->
<script src="{{BASE_URL}}/assets/js/main.js"></script>
</body>

</html>