<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="ecommerce, market, shop, mart, cart, deal, multipurpose, marketplace">
    <meta name="description" content="Carrot - Multipurpose eCommerce HTML Template.">
    <meta name="author" content="ashishmaraviya">

    <title>BeerMeUp - Enjoy your Beer</title>

    <!-- App favicon -->
    <link rel="shortcut icon" href="{{BASE_URL}}/assets/img/logo/favicon.png">

    <!-- Icon CSS -->
    <link rel="stylesheet" href="{{BASE_URL}}/assets/css/vendor/materialdesignicons.min.css">
    <link rel="stylesheet" href="{{BASE_URL}}/assets/css/vendor/remixicon.css">

    <!-- Vendor -->
    <link rel="stylesheet" href="{{BASE_URL}}/assets/css/vendor/animate.css">
    <link rel="stylesheet" href="{{BASE_URL}}/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="{{BASE_URL}}/assets/css/vendor/aos.min.css">
    <link rel="stylesheet" href="{{BASE_URL}}/assets/css/vendor/range-slider.css">
    <link rel="stylesheet" href="{{BASE_URL}}/assets/css/vendor/swiper-bundle.min.css">
    <link rel="stylesheet" href="{{BASE_URL}}/assets/css/vendor/jquery.slick.css">
    <link rel="stylesheet" href="{{BASE_URL}}/assets/css/vendor/slick-theme.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{{BASE_URL}}/assets/css/style.css">
</head>

<body class="body-bg-6">

{{> loader}}
{{> header}}
{{> mobile-menu}}

<!-- Breadcrumb -->
<section class="section-breadcrumb">
    <div class="cr-breadcrumb-image">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cr-breadcrumb-title">
                        <h2>Shop</h2>
                        <span> <a href="{{BASE_URL}}/index.html">Home</a> - Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Shop -->
<section class="section-shop padding-tb-100">
    <div class="container">
        <div class="row d-none">
            <div class="col-lg-12">
                <div class="mb-30" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="400">
                    <div class="cr-banner">
                        <h2>Categories</h2>
                    </div>
                    <div class="cr-banner-sub-title">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore lacus vel facilisis. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="600">
                <div class="row">
                    <div class="col-12">
                        <div class="cr-shop-bredekamp">
                            <div class="cr-toggle">
                                <a href="javascript:void(0)" class="shop_side_view">
                                    <i class="ri-filter-line"></i>
                                </a>
                                <a href="javascript:void(0)" class="gridCol active-grid">
                                    <i class="ri-grid-line"></i>
                                </a>
                                <a href="javascript:void(0)" class="gridRow">
                                    <i class="ri-list-check-2"></i>
                                </a>
                            </div>
                            <div class="center-content">
                                <span>We found {{products.total}} beers for you!</span>
                            </div>
                            <div class="cr-select">
                                <label>Sort By :</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Featured</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                    <option value="4">Four</option>
                                    <option value="5">Five</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-50 mb-minus-24">
                    {{#each products.beers}}
                        <div class="col-lg-3 col-6 cr-product-box mb-24">
                            <div class="cr-product-card">
                                <div class="cr-product-image">
                                    <div class="cr-image-inner zoom-image-hover">
                                        <img src="{{BASE_URL}}{{imagePath}}" alt="{{name}}">
                                    </div>
                                    <div class="cr-side-view">
                                        <a href="javascript:void(0)" class="wishlist">
                                            <i class="ri-heart-line"></i>
                                        </a>
                                        <a class="model-oraganic-product" data-bs-toggle="modal" href="#quickview"
                                           role="button">
                                            <i class="ri-eye-line"></i>
                                        </a>
                                    </div>
                                    <a class="cr-shopping-bag" href="javascript:void(0)">
                                        <i class="ri-shopping-bag-line"></i>
                                    </a>
                                </div>
                                <div class="cr-product-details">
                                    <div class="cr-brand">
                                        <a href="{{BASE_URL}}/beer/{{id}}">{{style}}</a>
                                        <div class="cr-star">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-line"></i>
                                            <p>(4.5)</p>
                                        </div>
                                    </div>
                                    <a href="{{BASE_URL}}/beer/{{id}}" class="title">{{name}}</a>
                                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod tempor incididunt
                                        ut labore lacus vel facilisis.</p>
                                    <p class="cr-price"><span class="new-price">${{price}}</span> <span
                                            class="old-price">${{price}}</span></p>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
                <nav aria-label="..." class="cr-pagination">
                    <ul class="pagination">
                        {{#ifGreaterThan products.page 1}}
                            <li class="page-item">
                                <a class="page-link" href="#">Previous</a>
                            </li>
                        {{else}}
                            <li class="page-item disabled">
                                <span class="page-link">Previous</span>
                            </li>
                        {{/ifGreaterThan}}

                        {{#each (range 10)}}
                            {{#equal ../products.page this}}
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">{{../this}}</span>
                                </li>
                            {{else}}
                                <li class="page-item"><a class="page-link" href="{{BASE_URL}}/shop?page={{../this}}&limit=16">{{../this}}</a></li>
                            {{/equal}}
                        {{/each}}

                        {{#ifLessThan products.page products.totalPages}}
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        {{else}}
                            <li class="page-item disabled">
                                <span class="page-link">Next</span>
                            </li>
                        {{/ifLessThan}}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>

{{> footer}}
{{> tab-to-top}}

<!-- Model -->
<div class="modal fade quickview-modal" id="quickview" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered cr-modal-dialog">
        <div class="modal-content">
            <button type="button" class="cr-close-model btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="zoom-image-hover modal-border-image">
                            <img src="{{BASE_URL}}/assets/img/product/tab-1.jpg" alt="product-tab-2" class="product-image">
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="cr-size-and-weight-contain">
                            <h2 class="heading">Peach Seeds Of Change Oraganic Quinoa, Brown fruit</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                since the 1900s,</p>
                        </div>
                        <div class="cr-size-and-weight">
                            <div class="cr-review-star">
                                <div class="cr-star">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                </div>
                                <p>( 75 Review )</p>
                            </div>
                            <div class="cr-product-price">
                                <span class="new-price">$120.25</span>
                                <span class="old-price">$123.25</span>
                            </div>
                            <div class="cr-size-weight">
                                <h5><span>Size</span>/<span>Weight</span> :</h5>
                                <div class="cr-kg">
                                    <ul>
                                        <li class="active-color">500gm</li>
                                        <li>1kg</li>
                                        <li>2kg</li>
                                        <li>5kg</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="cr-add-card">
                                <div class="cr-qty-main">
                                    <input type="text" placeholder="." value="1" minlength="1" maxlength="20"
                                           class="quantity">
                                    <button type="button" id="add_model" class="plus">+</button>
                                    <button type="button" id="sub_model" class="minus">-</button>
                                </div>
                                <div class="cr-add-button">
                                    <button type="button" class="cr-button">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> cart}}

<!-- sidebar-shop -->
<div class="filter-sidebar-overlay"></div>
<div class="cr-shop-leftside">
    <div class="cr-shop-leftside-inner">
        <div class="cr-title">
            <h6>Filters</h6>
            <a href="javascript:void(0)" class="close-shop-leftside">
                <i class="ri-close-line"></i>
            </a>
        </div>
        <div class="cr-shop-sideview">
            <div class="cr-shop-categories">
                <h4 class="cr-shop-sub-title">Category</h4>
                <div class="cr-checkbox">
                    <div class="checkbox-group">
                        <input type="checkbox" id="drinks">
                        <label for="drinks">Juice & Drinks</label>
                        <span>[20]</span>
                    </div>
                    <div class="checkbox-group">
                        <input type="checkbox" id="drinks1">
                        <label for="drinks1">Dairy & Milk</label>
                        <span>[54]</span>
                    </div>
                    <div class="checkbox-group">
                        <input type="checkbox" id="drinks2">
                        <label for="drinks2">Snack & Spice</label>
                        <span>[64]</span>
                    </div>
                </div>
            </div>
            <div class="cr-shop-price">
                <h4 class="cr-shop-sub-title">Price</h4>
                <div class="price-range-slider">
                    <div id="slider-range" class="range-bar"></div>
                    <p class="range-value">
                        <label>Price :</label>
                        <input type="text" id="amount" placeholder="'" readonly>
                    </p>
                    <button type="button" class="cr-button">Filter</button>
                </div>
            </div>
            <div class="cr-shop-color">
                <h4 class="cr-shop-sub-title">Colors</h4>
                <div class="cr-checkbox">
                    <div class="checkbox-group">
                        <input type="checkbox" id="blue">
                        <label for="blue">Blue</label>
                        <span class="blue"></span>
                    </div>
                    <div class="checkbox-group">
                        <input type="checkbox" id="yellow">
                        <label for="yellow">Yellow</label>
                        <span class="yellow"></span>
                    </div>
                    <div class="checkbox-group">
                        <input type="checkbox" id="red">
                        <label for="red">Red</label>
                        <span class="red"></span>
                    </div>
                </div>
            </div>
            <div class="cr-shop-weight">
                <h4 class="cr-shop-sub-title">Weight</h4>
                <div class="cr-checkbox">
                    <div class="checkbox-group">
                        <input type="checkbox" id="2kg">
                        <label for="2kg">2kg Pack</label>
                    </div>
                    <div class="checkbox-group">
                        <input type="checkbox" id="20kg">
                        <label for="20kg">20kg Pack</label>
                    </div>
                    <div class="checkbox-group">
                        <input type="checkbox" id="30kg">
                        <label for="30kg">30kg pack</label>
                    </div>
                </div>
            </div>
            <div class="cr-shop-tags">
                <h4 class="cr-shop-sub-title">Tages</h4>
                <div class="cr-shop-tags-inner">
                    <ul class="cr-tags">
                        <li><a href="javascript:void(0)">Vegetables</a></li>
                        <li><a href="javascript:void(0)">juice</a></li>
                        <li><a href="javascript:void(0)">Food</a></li>
                        <li><a href="javascript:void(0)">Dry Fruits</a></li>
                        <li><a href="javascript:void(0)">Vegetables</a></li>
                        <li><a href="javascript:void(0)">juice</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{{> side-tool}}

<!-- Vendor Custom -->
<script src="assets/js/vendor/jquery-3.6.4.min.js"></script>
<script src="assets/js/vendor/jquery.zoom.min.js"></script>
<script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="assets/js/vendor/mixitup.min.js"></script>
<script src="assets/js/vendor/range-slider.js"></script>
<script src="assets/js/vendor/aos.min.js"></script>
<script src="assets/js/vendor/swiper-bundle.min.js"></script>
<script src="assets/js/vendor/slick.min.js"></script>

<!-- Main Custom -->
<script src="assets/js/main.js"></script>
</body>

</html>